# Python
.venv/
**/__pycache__

# Binary & Library files
*.dll
*.so

# Dagster
tmp*/
temporal/
raw_files/
*.db

# DBT
./imdb_dbt/dbt_packages/
./imdb_dbt/target/
!imdb_dbt/sqlite/crypto.dll

# Metabase
!metabase/*.db

**/logs/